/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}

/* Header Styling */
header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vh;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 1000;
  letter-spacing: -3px;
}
.promoTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  color: #00b3e5;
}
.promoTitle:hover{
  color: #288eb7;
}
.promoSubtitle{
  text-decoration: none;
  text-align: justify;
  color: #d0d0d0;
}
.promoSubtitle:hover{
  text-decoration: underline;
}
header>button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: white;
  background-color: #00b3e5;
  border: none;
  border-radius: 5px;
  position: relative;
  bottom: 1em;
}
header>button:hover{
  background-color: #288eb7;
}

/* Nav Styling */
nav{
  display: flex;
  justify-content: space-between;
  margin-left: 20vw;
  margin-right: 20vw;
}
nav a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: -1px;
  text-decoration: none;
  padding-bottom: 5px;
  height: 1.5em;
}
.primaryLink{
  color: black;
}
.primaryLink:hover{
  color: #00b3e5;
}
.secondaryLink{
  color: #00b3e5;
}
nav a:hover{
  padding-bottom: 0;
  border-bottom: 5px solid black;
  transition: 0.1s;
}

hr{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  height: 2px;
}

/* Article Styling */
article{
  margin-left: 20vw;
  margin-right: 37vw;
  margin-top: 2vh;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -1px;
}
p{
  font-family: serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #4d4d4d;
}
p a{
  color: #00b3e5;
  text-decoration: none;
}
.socialIcons{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.socialIcons>a {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-twitter{
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: #0077b5;
  color: white;
}
.fa-reddit{
  background: white;
  color: #ff5700;
}
.spaceLink{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  color: black;
}
.artDate{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #4d4d4d;
}
.author{
  margin-top: 1em;
}
.author h4{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #4d4d4d;
}
.author a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  color: #00b3e5;
  text-decoration: none;
}
figure{
  margin-top: 1em;
}
figcaption{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  color: #4d4d4d;
}
figcaption span{
  font-size: 1em;
  font-weight: normal;
}
.readMore{
  height: 3em;
  padding-top: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
}
.readMore p{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.readMore a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00b3e5;
  text-decoration: none;
}
.references{
  font-family: sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: black;
}
.references span{
  font-family: serif;
  font-style: italic;
  font-weight: normal;
}
.launchpad{
  font-family: serif;
  font-style: italic;
  margin-top: .5em;
}
.topics{
  margin-top: 2em;
  margin-bottom: 2em;
}
.topics p{
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  color: #4d4d4d;
}
.planets{
  font-size: 1em;
  font-weight: bold;
  padding: .5em;
  margin-left: .5em;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #005587;
}
.planets:hover{
  background-color: #288eb7;
  transition: 0.2s;
}
.mars{
  font-size: 1em;
  font-weight: bold;
  padding: .5em;
  margin-left: .5em;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #005587;
}
.mars:hover{
  background-color: #288eb7;
  transition: 0.2s;
}

/* Sidebar Styling */
.sidebar{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18vh;
  left: 64vw;
  height: auto;
  margin-right: 20%;
}
.sideButtons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.trending{
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: black;
  border: none;
  background-color: #f5f5f5;
  padding: .8em;
}
.trending:hover{
  background-color: #ddd;
  transition: 0.2s;
}
.latest{
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: black;
  border: none;
  background-color: #f5f5f5;
  padding: .8em;
}
.latest:hover{
  background-color: #ddd;
  transition: 0.2s;
}
.video{
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: black;
  border: none;
  background-color: #f5f5f5;
  padding: .8em;
}
.video:hover{
  background-color: #ddd;
  transition: 0.2s;
}
.free{
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: black;
  border: none;
  background-color: #f5f5f5;
  padding: .8em;
}
.free:hover{
  background-color: #ddd;
  transition: 0.2s;
}
.sideCards *{
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin-bottom: 4px;
}
.card1 a{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
  flex: 4;
  padding: .5em;
}
.card1 a:hover{
  color: #00b3e5;
  transition: 0.2s;
}
.card1 p{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #00b3e5;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em;
}
.card2 a{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
  flex: 4;
  padding: .5em;
}
.card2 a:hover{
  color: #00b3e5;
  transition: 0.2s;
}
.card2 p{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #00b3e5;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em;
}
.card3 a{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
  flex: 4;
  padding: .5em;
}
.card3 a:hover{
  color: #00b3e5;
  transition: 0.2s;
}
.card3 p{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #00b3e5;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em;
}
.card4 a{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
  flex: 4;
  padding: .5em;
}
.card4 a:hover{
  color: #00b3e5;
  transition: 0.2s;
}
.card4 p{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #00b3e5;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em;
}
.card5 a{
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #4d4d4d;
  text-decoration: none;
  flex: 4;
  padding: .5em;
}
.card5 a:hover{
  color: #00b3e5;
  transition: 0.2s;
}
.card5 p{
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #00b3e5;
  align-self: center;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em;
}

/* Bottom of Article Media Link styling */
.mediaLinks{
  display: flex;
  justify-content: space-between;
  margin-left: 20vw;
  margin-right: 37vw;
}
.mediaLinks .socialIcons{
  height: 30px;
}
.eZine{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.eZineButtons{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.subscribe{
  height: 2em;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #00b3e5;
  margin-bottom: 1em;
}
.subscribe:hover{
  background-color: #288eb7;
  transition: 0.2s;
}
.app{
  height: 2em;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #20b2aa;
  margin-bottom: 1em;
}
.app:hover{
  background-color: #5f9ea0;
  transition: 0.2s;
}
.print{
  height: 2em;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #ff0000;
}
.print:hover{
  background-color: #de1d1d;
  transition: 0.2s;
}